$black: #020e15;
$gray: #878787;
$red: #ff4747;
$red-icon: #ff1010;
$red-dark: #a70000;
$white: #fafafa;

$orange-button-light: #fe9f4c;
$orange-button-dark: #c84b3f;

$blue-000: #f5fbff;
$blue-100: #c5e8fd;
$blue-200: #98d5f9;
$blue-300: #70c3f2;
$blue-400: #50b1e9;
$blue-500: #38a1dd;
$blue-600: #2790cd;
$blue-700: #1b7eb8;
$blue-800: #136ca0;
$blue-900: #0e5b87;

$orange-000: #fff7f5;
$orange-100: #fdd0c5;
$orange-200: #f9ab98;
$orange-300: #f28a70;
$orange-400: #e96f50;
$orange-500: #dd5938;
$orange-600: #cd4827;
$orange-700: #b83a1b;
$orange-800: #a02f13;
$orange-900: #87260e;

$header-height-small: 4.375rem;
$header-height-large: 6.25rem;
